@{
    ViewData["Title"] = "Ներմուծել";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <br />

    <h4>
        Ներմուծեք հարցը<br />Հարցը պահպանելու համար անհրաժեշտ է լրացնել բոլոր դաշտերը
    </h4>

    <br />

    <label id="warningLabel" style="color:red; font-size: 16px;"></label>

    <br />

    <label for="id" style="width:125px; height:30px; text-align: center;">Հարցի id : </label>
    <input type="number" name="id" id="id" min="1" max="500" style="width:200px; height:30px; text-align: center;" readonly="readonly">

    <label for="userId" style="width:125px; height:30px" ; text-align: center;>Խաղացողի id : </label>
    <input type="number" name="userId" id="userId" min="1" max="500" style="width:200px; height:30px; text-align: center;">

    <br />
    <br />

    <label for="question" style="width:125px; height:70px; vertical-align: top;">Հարց : </label>
    <textarea id="question" name="question" rows="4" cols="50" style="width:200px; height:70px" ;></textarea>

    <label for="corrAnswer" style="width:125px; height:70px; vertical-align: top;">Ճիշտ պատասխան : </label>
    <textarea id="corrAnswer" name="corrAnswer" rows="4" cols="50" style="width:200px; height:70px" ;></textarea>

    <br />
    <br />

    <label for="wrongAns1" style="width:125px; height:70px; vertical-align: top;">Սխալ պատասխան 1 : </label>
    <textarea id="wrongAns1" name="wrongAns1" rows="4" cols="50" style="width:200px; height:70px" ;></textarea>

    <label for="wrongAns2" style="width:125px; height:70px; vertical-align: top;">Սխալ պատասխան 2 : </label>
    <textarea id="wrongAns2" name="wrongAns2" rows="4" cols="50" style="width:200px; height:70px" ;></textarea>

    <br />
    <br />

    <button id="submitBtn" onclick="PostNewQuiz()">Պահպանել</button>

    <script src="~/js/AddQuiz.js"></script>
</div>
