@{
    ViewData["Title"] = "Edit panel";
}
<div class="text-center">

    <link rel="stylesheet" href="~/css/EditOrDeletePage.css" />

    <h1 class="display-4">@ViewData["Title"]</h1>

    <br />

    <h4>
        The data that you entered is displayed here.<br /> This data will be received by the player when he starts the game.
    </h4>

    <br />

    <label id="warningLabel" style="color:red; font-size: 16px;"></label>

    <br />

    <label for="id" style="width:100px; height:30px; text-align: center;">Question id : </label>
    <select id="id" name="id" style="width:200px; height:30px; text-align-last:center;" onchange="getval(this);"></select>

    <label for="userId" style="width:100px; height:30px" ; text-align: center;>User id : </label>
    <input type="number" name="userId" id="userId" min="1" max="500" style="width:200px; height:30px; text-align: center;">

    <br />
    <br />

    <label for="question" style="width:100px; height:70px; vertical-align: top;">Question : </label>
    <textarea id="question" name="question" rows="4" cols="50" style="width:200px; height:70px" ;></textarea>

    <label for="corrAnswer" style="width:100px; height:70px; vertical-align: top;">Correct Answer : </label>
    <textarea id="corrAnswer" name="corrAnswer" rows="4" cols="50" style="width:200px; height:70px" ;></textarea>

    <br />
    <br />

    <label for="wrongAns1" style="width:100px; height:70px; vertical-align: top;">Wrong Answer 1 : </label>
    <textarea id="wrongAns1" name="wrongAns1" rows="4" cols="50" style="width:200px; height:70px" ;></textarea>

    <label for="wrongAns2" style="width:100px; height:70px; vertical-align: top;">Wrong Answer 2 : </label>
    <textarea id="wrongAns2" name="wrongAns2" rows="4" cols="50" style="width:200px; height:70px" ;></textarea>

    <br />
    <br />

    <button id="submitBtn" onclick="EditQuiz()">Save</button>

    <br />
    <br />

    <hr style="height:1px; border:none; background-color:#333;" />
    <hr style="height:1px; border:none; background-color:#333;" />

    <br />
    <br />

    <h4>Delete panel</h4>

    <br />
    <br />

    <button id="deleteBtn" onclick="DeleteLast()">Delete Last</button>
    <button id="deleteBtn" onclick="DeleteAll()" style="margin-left: 10%;">Delete All</button>

    <br />
    <br />

    <script src="~/js/EditOrDelete.js"></script>
</div>