@{
    ViewData["Title"] = "Խմբագրել";
}
<div class="text-center">

    <link rel="stylesheet" href="~/css/EditOrDeletePage.css" />

    <h1 class="display-4">@ViewData["Title"]</h1>

    <br />

    <h4>
        Խմբագրեք հարցը<br />Խմբագրված հարցը պահպանելու համար անհրաժեշտ է լրացնել բոլոր դաշտերը
    </h4>

    <br />

    <label id="warningLabel" style="color:red; font-size: 16px;"></label>

    <br />

    <label for="id" style="width:125px; height:30px; text-align: center;">Հարցի id : </label>
    <select id="id" name="id" style="width:200px; height:30px; text-align-last:center;" onchange="getval(this);"></select>

    <label for="userId" style="width:125px; height:30px" ; text-align: center;>Խաղացողի id : </label>
    <input type="number" name="userId" id="userId" min="1" max="500" style="width:200px; height:30px; text-align: center;">

    <br />
    <br />

    <label for="question" style="width:125px; height:70px; vertical-align: top;">Հարց : </label>
    <textarea id="question" name="question" rows="4" cols="50" style="width:200px; height:70px" ;></textarea>

    <label for="corrAnswer" style="width:125px; height:70px; vertical-align: top;">Ճիշտ պատասխան : </label>
    <textarea id="corrAnswer" name="corrAnswer" rows="4" cols="50" style="width:200px; height:70px" ;></textarea>

    <br />
    <br />

    <label for="wrongAns1" style="width:125px; height:70px; vertical-align: top;">Սխալ պատասխան 1 : </label>
    <textarea id="wrongAns1" name="wrongAns1" rows="4" cols="50" style="width:200px; height:70px" ;></textarea>

    <label for="wrongAns2" style="width:125px; height:70px; vertical-align: top;">Սխալ պատասխան 2 : </label>
    <textarea id="wrongAns2" name="wrongAns2" rows="4" cols="50" style="width:200px; height:70px" ;></textarea>

    <br />
    <br />

    <button id="submitBtn" onclick="EditQuiz()">Խմբագրել</button>

    <br />
    <br />

    <hr style="height:1px; border:none; background-color:#333;" />
    <hr style="height:1px; border:none; background-color:#333;" />

    <br />
    <br />

    <h4>Ջնջել</h4>

    <br />
    <br />

    <button id="deleteBtn" onclick="DeleteLast()">Ջնջել վերջինը</button>
    <button id="deleteBtn" onclick="DeleteAll()" style="margin-left: 10%;">Ջնջել բոլորը</button>

    <br />
    <br />

    <script src="~/js/EditOrDelete.js"></script>
</div>