@{
    ViewData["Title"] = "Maze Of Secrets";
}

<div class="text-center">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <img src="~/images/logo.png" align="middle" style="width: 300px;" />

    <br />
    <br />

    <hr>

    <p>
        Բարի Գալուստ Maze Of Secrets խաղային պլատֆորմ:
    </p>

    <br />
    <hr>
    <p>
        Ուրախ եմ քեզ ներկայացնել խաղի պաշտոնական էջը , Այստեղ դու կգտնես
    </p>

    <div class="details">
        <ul>
            <li>
                Ի՞նչ է Maze of Secrets-ը
            </li>
            <li>
                Գաղափար լաբրիրնթների մասին
            </li>
            <li>
                Ինչ է ասում գիտությունը Լաբիրինթոսներ լուծելու մասին
            </li>
            <li>
                Maze Of Secrets խաղի պահանջարկը
            </li>
            <li>
                Maze of Secrets խաղի ներբեռնման հղումը (WIN x32/x64)
            </li>
        </ul>
    </div>

    <p style="font-style: italic; font-weight: bold; font-size: 24px;">Ի՞նչ է Maze of Secrets-ը</p>

    <p>Maze Of Secrets -ի գաղափարը կայանում է NxN չափի լաբիրինթոսում գտնել ոչ միայն լաբիրինթից դուրս գալու ուղին, այլ ճիշտ ուղին: Խաղի սկզբում խաղացողին տրվում է հարց, որի ճիշտ պատասխանը լաբիրինթից դուրս գալու միակ ճանապարէն է: Խաղացողը պետք է գտնի այն ելքը որտեղ կերևա ճիշտ պատասխանը:</p>

    <img src="~/images/firstImage.gif" align="left" style="width: 25%; height: 25%" />

    <p style="font-style: italic; font-weight: bold; font-size: 24px;">Գաղափար լաբրիրնթների մասին</p>
    <p>Լաբիրինթոս - բազմաթիվ, խճճված միջանցքներով բարդ կառույց։ Հույն և հռոմեացի հեղինակներ Հերոդոտոս, Դիոդորոս, Պլինիոս, Ստրաբոն և ուրիշները հիշատակում են մի քանի լաբիրինթոսներ։ Կրետե կղզու լաբիրինթոսը , ըստ ավանդազրույցի, Մինոս թագավորի հրամանով Մինոտավրոս հրեշի համար կառուցել է Դեդալոսը։ Եգիպտոսի լաբիրինթոսը , որն ուներ շուրջ 2 հազար սենյակ, հավանորեն կառուցվել է Ամենեմհետ III փարավոնի ժամանակ (մ.թ.ա. XIX դ.)։</p>
    <p>Սամոս կղզու լաբիրինթոսը (մ.թ.ա. VI դ.) կառուցել է Պոլիկրատոս միապետը։ Իտալիկյան լաբիրինթոսը (Կլուզիում քաղաքի մոտ) ենթադրում են, որ եղել է Ետրուրիայի Պորսենոս թագավորի (մ.թ.ա. VI դ.) դամբարանը։</p>
    <p>Լաբիրինթոս է կոչվում նաև գունավոր քարերից ձևավոր շարված հատակ։ Բնորոշ է գոթական ոճի հասուն շրջանին (XIII - XIV դդ.), հատկապես Ֆրանսիայի մի քանի տաճարներին (Շարտր, Ռեյմս, Ամիեն, Սենտ-Օմեր և այլն)։ Նման տիպի լաբիրինթոսներ չեն պահպանվել, հայտնի են XVIII դ. հետազոտողների գծանկարներից (մասամբ պահպանվել է Շարտրի տաճարի լաբիրինթոսը)։</p>

    <img src="~/images/secondImage.jpg" align="right" style="width: 50%; height: 50%" />

    <p>Փոխաբերական առումով «լաբիրինթոս» նշանակում է խառնակ, անելանելի վիճակ։</p>

    <p style="font-style: italic; font-weight: bold; font-size: 24px;">Ինչ է ասում գիտությունը Լաբիրինթոսներ լուծելու մասին</p>
    <p style="font-weight: bold; ">-Որպես նյարդաբան, ինչպե՞ս եք բնորոշում լաբիրինթոսը:</p>
    <p>-Լաբիրինթոսը մի բան է, որը ստեղծել են այլ մարդիկ, որը մարտահրավեր է հանդիսանում մեր ամենակարևոր հմտություններից մեկին ՝ մեր շրջակա միջավայրի էկոցենտրիկ ճանաչողական քարտեզ ստեղծելու և այդ ճանաչողական քարտեզով նավարկելու կարողությանը: Հիպոկամպը հենց այս կառույցն է, որը հնարավորություն է տվել մեզ, որ մարդիկ, շարժվենք լաբիրինթոսների միջով:</p>
    <p style="font-weight: bold; ">-Այսպիսով, ձեզ հիացրեց հիպոկամպը, որը շատ կարևոր է լաբիրինթոսը լուծելու համար: Պատմիր մեզ ավելին. Սկսելու համար, որտե՞ղ է այն տեղակայված:</p>
    <p>-Հիպոկամպը տեղակայված է ուղեղի միջին մակերեսի վրա [դեպի դեպի միջին գծի]: Դա խորը կառույց է, ուստի այն փխրուն մակերեսի վրա չէ, որին մենք ծանոթ ենք ՝ ուղեղի կեղևը: Դա իրականում ուղեղի կեղևի ներսում է: Հիպոկամպը ուղեղի ավելի հին մասն է, այսինքն ՝ էվոլյուցիոն տեսանկյունից: Այն կատարում է այս բավականին յուրահատուկ դերը ՝ թույլ տալով, որ մենք իմաստավորենք մեր շրջակա միջավայրը և դրանց փոխարեն տարբեր տեսարժան վայրեր տեղադրենք:</p>

    <img src="~/images/thirdImage.jpg" align="left" style="width: 50%; height: 50%" />

    <p style="font-weight: bold; ">-Լաբիրինթոսները տարիներ շարունակ օգտագործվել են գիտական ​​հետազոտություններում, առաջին հերթին կրծողների հետ ուսումնասիրություններում: Ինչպե՞ս են դրանք օգտագործվում, և ինչ վերաբերում է դրանց օգտագործմանը մարդկային հետազոտություններում:</p>
    <p>-Այսպիսով, եկեք սկսենք մկներից: Այս օրերին մկների համար ամենահայտնի լաբիրինթոսը, հատկապես հիպոկամպի հետ գործ ունենալիս, կոչվում է Մորիսի ջրային լաբիրինթոս: Ըստ էության, դա կլոր լողավազան է ՝ լցված ջրով, թաքնված հարթակով, որը կենդանուն հնարավորություն է տալիս փախչել: Երբ կրծողը ներգրավվում է իր հիպոկամպին, նա իրականում անցնում է թաքնված հարթակին նայելու մի տեսակ պատահական ռազմավարությունից անմիջապես լողալու թաքնված հարթակին ՝ անկախ նրանից, թե որտեղ է այն դրվել լողավազան:  Բայց ինչ վերաբերում է մարդկային լաբիրինթոսին: Այս օրերին մենք սիրում ենք ուղեղի սկաներում: Այսպիսով, մենք պետք է օգտագործենք վիրտուալ իրականության ակնոցներ և կարող ենք ստեղծել մի ամբողջ քաղաք, օրինակ ՝ Լոնդոնի քաղաքը: Մարդու կերպարը գտնվում է ֆունկցիոնալ ՄՌՏ սկաներում, և նրանք կարող են ինքնուրույն շրջել Լոնդոն քաղաքում: [կերպարըին] խնդրում են պարզել, թե որտեղ է «ես» -ը երկիմաստ տարածական միջավայրում, որը ներկայացնում է մի տեսակ ուսման ձևակերպում, որը մենք ՝ մարդիկ, օգտագործում ենք ամեն օր:</p>
    <p style="font-weight: bold; ">-Մարդիկ ի՞նչ ռազմավարություն են օգտագործում լաբիրինթոսները լուծելու համար:</p>
    <p>Մարդիկ կարող են լաբիրինթոս լուծել ՝ օգտագործելով մի շարք ռազմավարություններ: Նման ռազմավարությունից մեկը `հաշվի առնել բնապահպանական ազդանշանները [ինչպես, օրինակ, աստղերի դիրքը գիշերը]: Մեկ այլ ռազմավարություն է օգտագործել ակնհայտ ազդանշան կամ որոշակի լաբիրինթոսների համար գործում է շատ պարզ ռազմավարություն, ինչպիսին է միայն աջ ձեռքով շրջադարձ կատարելը:</p>

    <p style="font-style: italic; font-weight: bold; font-size: 24px;">Maze of Secrets խաղի պահանջարկը:</p>
    <p>
        Արդի աշխարհում մեծ թափով զարգանում է puzzle տիպի խաղերը: Play Market -ում առաջին հորիզոնականում է գտնվում Maze: path of light -ը ,App Store` Maze King-ը : Այսպիսով տեսնում ենք որ շատ մեծ ճանաչում ունեն գլուխկոտրուկները , իսկ Լաբիրինթոսներ լուծելը և դրանք հաղթելը դառնում է իդեալական միջոց միտքդ զարգացնելու համար:
    </p>

    <hr />
    <br />

    <a class="btn" target="_blank" href="https://doc-00-3s-docs.googleusercontent.com/docs/securesc/luoqn8h14ro7sucfupb90gf4h2m4fokb/0qe2refm2bg1ck8ivb7uj5gtrkvoui4s/1619790000000/07215949661258816848/02123756222673256677Z/1bDXh5pohxrOiljz_rpVIy6FukXs01qUk?e=download&nonce=1at06uhi6ldju&user=02123756222673256677Z&hash=begohj6rba9hqjcpn0ca1iqrcojk8nd3"><i class="fa fa-download"></i> Ներբեռնել</a>

    <br />
    <br />
</div>
