@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <img src="~/images/logo.png" align="middle" style="width: 300px;" />

    <br />
    <br />

    <h4>Welcome to home page</h4>

    <a class="btn" target="_blank" href="https://doc-00-3s-docs.googleusercontent.com/docs/securesc/luoqn8h14ro7sucfupb90gf4h2m4fokb/0qe2refm2bg1ck8ivb7uj5gtrkvoui4s/1619790000000/07215949661258816848/02123756222673256677Z/1bDXh5pohxrOiljz_rpVIy6FukXs01qUk?e=download&nonce=1at06uhi6ldju&user=02123756222673256677Z&hash=begohj6rba9hqjcpn0ca1iqrcojk8nd3"><i class="fa fa-download"></i> Download</a>

    <hr>

    <p>
        Բարի Գալուստ Maze Of Secrets խաղային պլատֆորմ:
    </p>

    <br />
    <hr>
    <p>
        Ուրախ եմ քեզ ներկայացնել խաղի պաշտոնական էջը , Այստեղ դու կգտնես
    </p>

    <div class="details">
        <ul>
            <li>
                Ի՞նչ է Maze of Secrets-ը
            </li>
            <li>
                Գաղափար լաբրիրնթների մասին
            </li>
            <li>
                Ինչ է ասում գիտությունը Լաբիրինթոսներ լուծելու մասին
            </li>
            <li>
                Maze Of Secrets խաղի կանոնները
            </li>
            <li>
                Maze of Secrets խաղի պահանջարկը
            </li>
        </ul>
    </div>

    <h5>Ի՞նչ է Maze of Secrets-ը</h5>

    <p>Maze Of Secrets -ի գաղափարը կայանում է NxN չափի լաբիրինթոսում գտնել ոչ միայն լաբիրինթից դուրս գալու ուղին, այլ ճիշտ ուղին: Խաղի սկզբում խաղացողին տրվում է հարց, որի ճիշտ պատասխանը լաբիրինթից դուրս գալու միակ ճանապարէն է: Խաղացողը պետք է գտնի այն ելքը որտեղ կերևա ճիշտ պատասխանը:</p>

    <img src="~/images/splash.jpg" align="left" style="width: 40%; height: 40%" />

    <img src="~/images/splash.jpg" align="right" style="width: 60%; height: 60%" />

    <p>
        Vivamus pulvinar, est a facilisis iaculis, quam arcu sollicitudin ligula, eget viverra mi turpis non urna. Integer mattis posuere sollicitudin. Praesent laoreet non metus non tincidunt. Nunc at nulla nec turpis dapibus ultricies quis sit amet urna. Duis vitae lorem velit. Aenean et molestie augue, in blandit nibh. Donec quis felis quis nisi mattis vehicula. Morbi semper massa scelerisque, varius nisi lacinia, viverra nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In tempor, ligula quis volutpat ultrices, velit lorem maximus orci, nec vulputate velit enim consequat nunc. Integer non fringilla risus.

        Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis sed luctus nisl, a porta libero. Curabitur sit amet dui pharetra, tincidunt purus id, scelerisque ex. Vivamus non mauris eros. Donec feugiat sed nibh vitae vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum, nibh eu tincidunt sagittis, nunc dolor feugiat mi, vitae gravida enim ante ut ex. Ut ligula ex, imperdiet non urna eget, ultricies pretium purus. Aliquam ultrices dapibus lorem, at tincidunt lorem placerat in. Aliquam dignissim pharetra mauris, et dignissim urna congue a. Phasellus elementum ex vel commodo lacinia. Vestibulum vitae nunc a nunc placerat euismod. Donec et cursus ipsum, ut finibus eros. In efficitur, nisi in tincidunt rhoncus, dolor quam varius elit, dapibus aliquet lorem purus ac metus.
    </p>

    <img src="~/images/splash.jpg" align="left" style="width: 50%; height: 50%" />

    <p>
        Curabitur porta elit non ipsum vulputate efficitur. Quisque dictum elementum neque, vitae efficitur dui rutrum vitae. Morbi maximus, mauris sagittis mattis dictum, mi dui malesuada erat, quis bibendum mauris lorem sed dui. Curabitur dapibus velit ut arcu maximus euismod. Fusce ornare rutrum ante ac pellentesque. Proin blandit, nisl eu suscipit maximus, dolor risus maximus mauris, sed sagittis urna odio vel est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed dictum finibus velit, eu ultrices mi convallis at. Donec mauris quam, accumsan nec tortor eget, dictum vestibulum metus. Aliquam sit amet neque sed ligula eleifend imperdiet non vitae ex. Vestibulum condimentum dui at tincidunt fermentum. Pellentesque ac interdum lectus, vel placerat libero.
    </p>
</div>
