@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Maze Of Secrets</h1>

    <br />

    <h4>Welcome to home page</h4>

    <hr>

    <img src="~/images/splash.jpg" align="left" style="width: 40%; height: 40%" />
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dignissim metus purus, in gravida diam sagittis quis. Duis lectus diam, mollis sit amet congue in, iaculis ut sem. Mauris malesuada tellus commodo turpis tincidunt, ac ultricies sem tincidunt. Suspendisse potenti. Morbi pretium, nisl mattis dignissim ultrices, libero tellus molestie magna, vel scelerisque tortor erat sed diam. Nulla auctor pharetra magna eu facilisis. Suspendisse et ligula fringilla, euismod arcu sed, viverra felis. Vestibulum iaculis eu leo a sagittis. Nam aliquam sapien efficitur, bibendum urna eu, vehicula lectus. Suspendisse tempus tellus sit amet dolor lacinia ullamcorper. Phasellus nec quam faucibus, ullamcorper augue sit amet, bibendum ipsum. Cras auctor, massa vitae tincidunt imperdiet, justo justo molestie lorem, ac tincidunt dui eros in augue. Proin gravida tellus lorem, ut ullamcorper odio tincidunt nec.

        Suspendisse potenti. Morbi id lacus maximus, lobortis mi tempor, luctus quam. In a aliquam ante, facilisis aliquet lectus. In tempor lacus odio. Morbi hendrerit ex sed libero suscipit, eget lobortis est tincidunt. Praesent semper felis risus, sed auctor mi sollicitudin at. Phasellus sed mattis sem, vulputate rutrum felis. Aenean volutpat leo id urna blandit, malesuada rutrum ipsum blandit. Vivamus iaculis arcu odio, ac scelerisque ligula laoreet non.
    </p>

    <img src="~/images/splash.jpg" align="right" style="width: 60%; height: 60%" />

    <p>
        Vivamus pulvinar, est a facilisis iaculis, quam arcu sollicitudin ligula, eget viverra mi turpis non urna. Integer mattis posuere sollicitudin. Praesent laoreet non metus non tincidunt. Nunc at nulla nec turpis dapibus ultricies quis sit amet urna. Duis vitae lorem velit. Aenean et molestie augue, in blandit nibh. Donec quis felis quis nisi mattis vehicula. Morbi semper massa scelerisque, varius nisi lacinia, viverra nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In tempor, ligula quis volutpat ultrices, velit lorem maximus orci, nec vulputate velit enim consequat nunc. Integer non fringilla risus.

        Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis sed luctus nisl, a porta libero. Curabitur sit amet dui pharetra, tincidunt purus id, scelerisque ex. Vivamus non mauris eros. Donec feugiat sed nibh vitae vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum, nibh eu tincidunt sagittis, nunc dolor feugiat mi, vitae gravida enim ante ut ex. Ut ligula ex, imperdiet non urna eget, ultricies pretium purus. Aliquam ultrices dapibus lorem, at tincidunt lorem placerat in. Aliquam dignissim pharetra mauris, et dignissim urna congue a. Phasellus elementum ex vel commodo lacinia. Vestibulum vitae nunc a nunc placerat euismod. Donec et cursus ipsum, ut finibus eros. In efficitur, nisi in tincidunt rhoncus, dolor quam varius elit, dapibus aliquet lorem purus ac metus.
    </p>

    <img src="~/images/splash.jpg" align="left" style="width: 50%; height: 50%" />

    <p>
        Curabitur porta elit non ipsum vulputate efficitur. Quisque dictum elementum neque, vitae efficitur dui rutrum vitae. Morbi maximus, mauris sagittis mattis dictum, mi dui malesuada erat, quis bibendum mauris lorem sed dui. Curabitur dapibus velit ut arcu maximus euismod. Fusce ornare rutrum ante ac pellentesque. Proin blandit, nisl eu suscipit maximus, dolor risus maximus mauris, sed sagittis urna odio vel est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed dictum finibus velit, eu ultrices mi convallis at. Donec mauris quam, accumsan nec tortor eget, dictum vestibulum metus. Aliquam sit amet neque sed ligula eleifend imperdiet non vitae ex. Vestibulum condimentum dui at tincidunt fermentum. Pellentesque ac interdum lectus, vel placerat libero.
    </p>
</div>
