@{
    ViewData["Title"] = "Quest Table";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Maze of Secrets control panel</h1>
    <h4>
        The data that you entered is displayed here.<br /> This data will be received by the player when he starts the game.
    </h4>

    <br />

    <h6 id="waitingLabel">Wait for data load!!!</h6>

    <br />
    <br />

    <script src="~/js/DataTable.js"></script>
</div>
