@{
    ViewData["Title"] = "Հարցերի ցանկ";
}

<div class="text-center">
    <h1 class="display-4">Բարի գալուստ Maze Of Secrets խաղի ղեկավարման համակարգ</h1>
    <h4>
        Հարցերը, որոնք դուք այստեղ կմուտքագրեք,<br />տեսանելի կլինեն այն UserId - ով խաղացողի համար, որը դուք ներմուծել եք։
    </h4>

    <br />

    <h6 id="waitingLabel">Սպասեք! Տվյալները ներբեռնվում են</h6>

    <br />
    <br />

    <script src="~/js/DataTable.js"></script>
</div>
