@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Maze of Secrets control panel</h1>
    <h3>
        To add data, enter them in the fields and click save. <br />
        You must enter data in all fields.
    </h3>
    <script>

        var requestOptions = {
            method: 'GET',
            redirect: 'follow'
        };

        fetch("http://localhost:63489/api/MazeDataItems", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
    </script>
</div>
